@page "/login"
@namespace Shift_Picker.Components
@inherits Shift_Picker.Components.LoginVM
<h3>Login</h3>

<div class="dropdown-menu">
<form method="POST" class="px-4 px-3">
    <div class="form-group">
        <label for="uname">Username: </label>
        <input type="text" class="form-control" id="uname" name="username" @bind="User.UserName"><br>
    </div>
    <div class="form-group">
        <label for="pword">Password: </label>
        <input type="password" class="form-control" id="pword" name="password" @bind="User.Password"><br>
    </div>
    <button type="submit" class="btn btn-primary" @onclick="ValidateUser">Login</button>
</form>
    </div>
