@page "/employee/create"
@namespace Shift_Picker.Pages.Employees
@inject ShiftPicker.Data.Services.IUserRoleService UserRoleService
@inject ShiftPicker.Data.Services.IUserService UserService

<h3>Create</h3>

@code {
    ShiftPicker.Data.Models.UserModel Employee { get; set; } = new ShiftPicker.Data.Models.UserModel();
    List<ShiftPicker.Data.Models.UserRole> UserRoles = new List<ShiftPicker.Data.Models.UserRole>();

    int selectedRoleId;

    protected async override Task OnInitializedAsync()
    {
        UserRoles = await UserRoleService.GetAll();
    }

    protected async Task AddEmployee()
    {
        await UserService.AddUser(Employee);
    }

}

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">First Name</label>
                <input class="form-control" type="text" @bind="Employee.FirstName" />
                <span asp-validation-for="UserModel.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Last Name</label>
                <input class="form-control" type="text" name="UserModel.LastName" @bind="Employee.LastName" />
                <span asp-validation-for="UserModel.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Username</label>
                <input class="form-control" type="text" name="UserModel.UserName" @bind="Employee.UserName" />
                <span asp-validation-for="UserModel.UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Password</label>
                <input class="form-control" type="password" name="UserModel.Password" @bind="Employee.Password" />
                <span asp-validation-for="UserModel.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Email</label>
                <input class="form-control" type="email" name="UserModel.Email" @bind="Employee.Email" />
                <span asp-validation-for="UserModel.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Phone Number</label>
                <input class="form-control" type="text" name="UserModel.Phone" @bind="Employee.Phone" />
                <span asp-validation-for="UserModel.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserModel.RoleId" class="control-label">Role</label>

                <select @bind="Employee.RoleId">
                    @foreach (ShiftPicker.Data.Models.UserRole userRole in UserRoles)
                    {
                        <option value="@userRole.Id"> @userRole.RoleName</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" @onclick="AddEmployee" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

