@page
@model ShiftPicker.Data.Models.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Employee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserModel.FirstName" class="control-label">First Name</label>
                <input asp-for="UserModel.FirstName" class="form-control" type="text" />
                <span asp-validation-for="UserModel.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserModel.LastName" class="control-label">Last Name</label>
                <input asp-for="UserModel.LastName" class="form-control" type="text" name="UserModel.LastName" />
                <span asp-validation-for="UserModel.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserModel.UserName" class="control-label">Username</label>
                <input asp-for="UserModel.UserName" class="form-control" type="text" name="UserModel.UserName" />
                <span asp-validation-for="UserModel.UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserModel.Password" class="control-label">Password</label>
                <input asp-for="UserModel.Password" class="form-control" type="password" name="UserModel.Password" />
                <span asp-validation-for="UserModel.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserModel.Email" class="control-label">Email</label>
                <input asp-for="UserModel.Email" class="form-control" type="email" name="UserModel.Email" />
                <span asp-validation-for="UserModel.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserModel.Phone" class="control-label">Phone Number</label>
                <input asp-for="UserModel.Phone" class="form-control" type="text" name="UserModel.Phone" />
                <span asp-validation-for="UserModel.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserModel.RoleId" class="control-label">Role</label>
                @Html.DropDownListFor(x => x.UserModel.RoleId, 
                                            new SelectList(Model.UserRoles, "Value", "Text"),
                                            htmlAttributes: new { @class = "form-control"})
                @Html.ValidationMessageFor(x => x.UserModel.RoleId, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
