@inherits LayoutComponentBase
@inject Blazored.SessionStorage.ISyncSessionStorageService sessionStorage


@if (IsAuthenticated)
{
    <div class="sidebar">
        <NavMenu />
    </div>
    <div class="container-fluid">
        @Body
    </div>
}
else
{
    <Shift_Picker.Components.Login />
}

@code{
    //

    bool IsAuthenticated = false;

    protected override void OnInitialized()
    {

    }

    protected override void OnAfterRender(bool firstRender)
    {
        //Get the User Logged in From Session Storage
        ShiftPicker.Data.Models.LoginModel loggedInUser =  sessionStorage.GetItem<ShiftPicker.Data.Models.LoginModel>("user_logged_in");

        //If not present show the log in screen
        if (loggedInUser != null)
        {
            IsAuthenticated = true;
        }

        //If Present in the session storage then set IsAuthenticated to true
        //else show an error
    }
}
