@page "/{LoggedIn:bool}"
@inherits LayoutComponentBase


@if (LoggedIn == true)
{
    <div class="sidebar">
        <NavMenu />
    </div>
    <div class="container-fluid">
        @Body
    </div>
}
else
{
    <Shift_Picker.Components.Login />
}



@code{
    [Parameter]
    public bool LoggedIn { get; set; }

    protected  override void OnInitialized()
    {
           
    }
}
