@inherits LayoutComponentBase
<AuthorizeView>
    <Authorized>
        <head>
            <base href="~/" />
        </head>
        <div class="sidebar">
            <NavMenu />
        </div>
        <div class="container-fluid">
            @Body
        </div>
    </Authorized>
    <NotAuthorized>
        <Shift_Picker.Components.Login />
    </NotAuthorized>
</AuthorizeView>

